<p id="notice"><%= notice %></p>
<h1>Regions</h1>
  <% @regions.each do |region| %>
    <p><%= region.name %></p>
    <p><%= region.subtitle %></p>
    <p><%= region.description %></p>
    <p><%= image_tag region.thumb_image %></p>
  <% end %>
